<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.stahl.oktoberfest-monitor</string>

  <key>ProgramArguments</key>
  <array>
    <string>__REPO__/run.sh</string>
  </array>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Minute</key>
    <integer>0</integer>
  </dict>

  <key>StandardOutPath</key>
  <string>__REPO__/monitor.log</string>
  <key>StandardErrorPath</key>
  <string>__REPO__/monitor.log</string>

  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
